@model IEnumerable<mboard.Models.Tag>

@foreach (var item in Model) {
<button class="btn btn-primary" onclick="location.href='@Url.Action("Search", "Test", new { Id = item.Id }, null)'"> @item.Title</button>
}
