@model mboard.Models.Board

<h4>Na pewno chcesz usunąć tablicę?</h4>
<div>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    @using (Html.BeginForm("Delete", "Test", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

