@*@using Microsoft.AspNet.Identity;*@
@model IEnumerable<mboard.Models.Board>

@{
    ViewBag.Title = "Tablice";
}

@*<h2>Index</h2>*@
<hr />
@Html.ActionLink("Nowa Tablica", "Create", "Test")
<hr />

    <input class="form-control" id="searchInput" placeholder="Szukaj..." />

<br />
<div id="board-container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="" alt="" />
                    <div class="caption">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>
                      
                    </div>

                    <p>...</p>
                    <p>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })</p>


                </div>
            </div>

        }

    </div>
</div>


<script>
   
    document.getElementById("searchInput").addEventListener('keyup', function () {

        //split the current value of searchInput
        var data = this.value.split(" ");
        //create a jquery object of the rows
        //var jo = document.getElementById("#board-container").find("div thumbnail");
        var jo = document.querySelectorAll(".caption");
        console.log(jo); 
        if (jo.value == data) {
            console.log(jo);
        }

    
    })


    //function $(id) {
    //    var elem;
    //    elem = document.getElementById(id)
    //    return elem;
    //};

</script>


